<!DOCTYPE html>
<html>
<head>
    <title>Appointment Booking</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h2>Book Appointment</h2>

<form id="form">

<input
type="text"
id="name"
placeholder="Name"
required>

<input
type="email"
id="email"
placeholder="Email"
required>

<input
type="text"
id="phone"
placeholder="Phone"
required>

<button>Book</button>

</form>

<ul id="users"></ul>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="script.js"></script>

</body>
</html>